body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}
 

.calculator {
    border: 2px solid #ddd;
    padding: 80px;
    border-radius: 10px;
    background-color:darkorange;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    border: none; /* Removes the border */
}


h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:underline;
    font-size:xx-large ;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    
}
button:hover {
    
    background-color: red;
    color: white;
}

#result {
    margin-top: 55px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}
